.my-custom-scrollbar {
    position: relative;
    height: 32rem;
    overflow: auto;
}

.my-custom-scrollbar-sm {
    position: relative;
    height: 16rem;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table-wrapper-scroll-y thead th {
    position: sticky;
    top: 0;
};

.table-wrapper-scroll-y table {
    border-collapse: collapse;
}